.no-padding {
    margin: 0;
    padding: 0;
}
.bg-white {
    background-color: white;
}
.top-25 {
    margin-top: 25vh;
}
.height-70 {
    height: 70vh;
}
.sunburst-position {
    position: absolute;
    top: 3vh;
    left: -15%;
}