<div class="col-md-12 top-25">
  <div class="col-md-2">
    <div class="tab" (click)="selectedTab = 0; ;">
      <a routerLink="execution-results" [ngClass]="{'tab-selected': selectedTab === 0, 'black': selectedTab === 0 }" class="no-underline">Execution Results</a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="tab" (click)="selectedTab = 1; ;">
      <a routerLink="release-history" [ngClass]="{'tab-selected': selectedTab === 1, 'black': selectedTab === 1 }" class="no-underline">Release History</a>
    </div>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <select class="form-control deploy-filters">
      <option>Release 2.2</option>
    </select>
    <select class="form-control deploy-filters">
        <option>Call Processing</option>
      </select>
  </div>
</div>