.no-padding {
    padding: 0;
    margin: 0;
}
.no-border {
    border: 0;
}
.bg-white {
    background-color: white;
}
.top-35 {
    margin-top: 35vh;
}
.center {
    text-align: center !important;
}
.avenir {
    font-family: Avenir;
}
.border-grey {
    border-bottom: solid 1px rgba(115, 124, 137, 0.12);
}
.top-15 {
    margin-top: 15px;
}
.heading {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: -0.1px;
    text-align: left;
    color: #485465;
}
.margin-left-5 {
    margin-left: 2%;
}
.margin-right-5 {
    margin-right: 2%;
}
.release-filter {
    border: none !important;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
}
.free-text {
    color: #8ca0b3;
    font-family: Avenir;
    font-size: 12px;
}